* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    color: #00101c;
    background: #1f1f1f;
    line-height: 1.7;
    overflow-x: hidden;
}
  
.wrapper {
    background-color: #fefefe;
    width: 100%;
    max-width: 1240px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
}

section {
    padding: 20px 0;
}

h1,h2,h3 {
    font-weight: 300;
    margin: 0 0 20px;
}

h2 {
    font-size: 24px;
}

p {
    margin-bottom: 15px;
}

ul{
    padding: 0 0 0 16px;
}

.left .photo img {
    width: 250px;
    border-radius: 100%;
    border: 1px solid #dae2e8;
    margin-bottom: 20px;
}

main {
    display: flex;
    gap: 40px;
    margin: 40px 0;
}

.left {
    max-width: 300px;
    width: 100%;
    margin-top: 20px;
    ul {
        padding: 0;
        li{
            list-style: none;
        }
    } 
}

.menu {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 5px;
    width: 100%;
    a{
        font-size: 16px;
    }
}

a {
    color: #b832ce;
    text-decoration: none;
    transition: all .3s;
    &:hover{
        color: #88249a;;
    }
}

pre {
    background-color: #f7f7f7;
    color: #2d2d2d;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
    margin-left: 0;
    text-align: left;
    white-space: pre-wrap; 
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}